<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <nav>
        <div class="site-title">
            <a href="/">Hamlet</a>
            <p>The myth</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">New blog</a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h1>404- OOPS!</h1>
        <h2>That page does not exist</h2>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>