<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="blogs content">
        <h2>
            About page
        </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt expedita cupiditate, iusto asperiores blanditiis saepe, alias recusandae atque eius placeat libero officia ipsam cumque, quae culpa eveniet quisquam reprehenderit eligendi!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum facilis, aliquid corporis deserunt ab voluptatibus maxime possimus recusandae tempora quod minus totam eius labore laboriosam veritatis accusamus illum? Repellendus, enim.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>